BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 80
PackConstructorInitializers: NextLine
BreakBeforeBraces: Allman
NamespaceIndentation: All
IndentCaseLabels: true
AccessModifierOffset: -4
PointerAlignment: Left
ReferenceAlignment: Pointer
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
SpaceBeforeParens: ControlStatements
BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
DerivePointerAlignment: false
FixNamespaceComments: true
IndentPPDirectives: None
SortIncludes: Never
AlwaysBreakTemplateDeclarations: Yes
